.movie-column{
  background: rgb(255, 255, 255);
}

.movie-column-selected{
  background: rgb(207, 105, 122);
}

.slot-column{
  background: rgb(255, 255, 255);
}

.slot-column-selected{
  background: rgb(207, 105, 122);
}

.seat-column{
  background: rgb(255, 255, 255);
}

.seat-column-selected{
  background: rgb(207, 105, 122);
}